.logo {
  width: 30px;
  height: 50px;
  margin-left: 15px;
  margin-top: 5px
}

.title {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center
}

.product_list {
  min-height: 50%;
  border-block: 3px solid #26292e;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: ease all .5s;
  box-shadow: 0 0 25px -20px #000
}

.product-listing img {
  border-radius: 10px;
  display: inline-block;
  width: 100% !important
}

.product-heading h2 {
  margin: 0;
  font-size: 25px;
  color: #fff;
  padding: 32px;
  font-weight: 600;
  text-transform: uppercase
}

.product_img {
  overflow: hidden;
  border-radius: 8px;
  background: #26292e
}

.product_img img {
  padding: 28px
}

.product_detail_btm h4 {
  margin: 20px 0 10px 0;
  font-size: 18px;
  text-align: center
}

.product_list:focus div.product_img img,
.product_list:hover div.product_img img {
  transform: scale(1.15);
  transition: ease all .5s
}

.product_price p {
  margin: 0 0 5%;
  text-align: center
}

.old_price {
  font-size: 14px;
  color: #737373;
  text-decoration: line-through
}

.new_price {
  font-size: 18px;
  font-weight: 600;
  color: #131313
}

.img-responsive {
  max-width: 100%
}

.polo-first {
	width: 100%;
}

.table td,
.table th {
  padding: .50rem;
  font-size: 12px;
  border: 1px solid #dee2e6;
  white-space: nowrap;
  text-align: center;
}

.table th {
  background-color: #26292e;
}

.table tr:hover {
  background-color: #26292e;
}

@media (max-width:900px) {
  .col-md-3 {
    flex: 0 0 33.33%;
    max-width: 33.33%
  }

  .product_price p {
    font-size: 12px
  }

  .old_price {
    font-size: 12px;
    color: #737373;
    text-decoration: line-through
  }

  .new_price {
    font-size: 16px;
    font-weight: 600;
    color: #131313
  }
}

@media (max-width:600px) {
  .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%
  }

  .product_price p {
    font-size: 10px
  }

  .old_price {
    font-size: 10px;
    color: #737373;
    text-decoration: line-through
  }

  .new_price {
    font-size: 14px;
    font-weight: 600;
    color: #131313
  }
}

@media (max-width:525px) {
  .table td,
  .table th {
    padding: .25rem;
    font-size: 10px;
  }
}

@media (max-width:300px) {
  .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%
  }

  .product_price p {
    font-size: 10px
  }

  .old_price {
    font-size: 10px;
    color: #737373;
    text-decoration: line-through
  }

  .new_price {
    font-size: 14px;
    font-weight: 600;
    color: #131313
  }
}