body,
html {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	width: auto;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff
}

body {
	background: #2f3238;
	color: grey;
	font-size: 12px;
	line-height: 28px;
	letter-spacing: .2px;
	display: flex;
	flex-direction: column
}

a {
	color: #6896fe;
	text-decoration: none;
	cursor: pointer;
	transition: color .1s linear 0s
}

a:active,
a:focus,
a:hover {
	color: #fff;
	text-decoration: none
}

header .sticky-nav {
	position: relative;
	width: 100%;
	height: 60px;
	background: #26292e;
	z-index: 1001;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25)
}

header .home {
	float: right;
	color: #6896fe;
	font-size: 30px;
	padding: 12px 18px
}

footer {
	position: relative;
	width: 100%;
	display: block;
	height: auto;
	background-color: #26292e;
	text-align: center;
	z-index: 99;
	margin-top: auto;
	padding: 0 0 5px;
	box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .3)
}

footer p {
	color: #fff;
	font-size: 13px;
	margin-bottom: 0;
	padding: 15px 0
}

.row {
	display: flex;
	margin: 0 auto
}

.header:after {
	content: '';
	position: absolute;
	bottom: 1;
	left: 0;
	right: 0;
	height: 2px;
	display: block;
	background-color: #6896fe;
	box-shadow: 25px 0 25px 0 #6896fe
}

.footer:before {
	content: '';
	position: absolute;
	top: 1;
	left: 0;
	right: 0;
	height: 2px;
	display: block;
	background-color: #6896fe;
	box-shadow: 25px 0 25px 0 #6896fe
}